name: Validate with hassfest

on:
  push:
    branches: [develop]
  pull_request:
    branches: [beta, main]
  schedule:
    - cron:  '0 0 * * *'

jobs:
  validate:
    runs-on: "ubuntu-latest"
    steps:
        - uses: "actions/checkout@v4"
        - uses: "home-assistant/actions/hassfest@master"
